{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% comment %}
    <link rel="stylesheet" href="{% static " mystyles.css" %}"> {% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    {% comment %} <div class="topnav">
        <a href="/">HOME</a> |
        <a href="/members">MEMBERS</a>
    </div> {% endcomment %}

    {% comment %} {% block content %} {% endcomment %}
    {% comment %} {% endblock %} {% endcomment %}

    <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item">
                <a class="nav-link link-light" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/members">MEMBERS</a>
            </li>
        </ul>

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>